
fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.field-box{
    border: dotted green 2px;
    padding: 8px; 
    display: flex;
    flex-direction: column;
    width: 20%;
}
.field-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4px;
}
.field-container,.field-container-description{
    width:100%;
}
.field-container>label{
    width:30%;
    border: dotted red 1px;
}
.field-container>input,select{
    width:50%;
}
.field-container-description>textarea{
    width:90%;
}

#project-description{
    height: 100px;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

#add-button:disabled{
    background-color: gray;
}

#buttons button{
    background-color: rgb(129, 185, 235);
    font-size: large;
    color: aliceblue;
    padding: 1%;
    width: 20%;
}

#buttons button:hover{
    background-color: rgb(107, 153, 194);
}

.required-item{
    font-weight:bold;    
}

.box-valid{
    border: solid 2px red; 
    background-color: darkred;
    margin: 4px 0;
    color:white;
}
.icon-valid{
    width:30px;
    height:30px;
}

