header, footer{
    background-color: rgb(89, 126, 160);
    color: rgb(250, 234, 249);
    font-size: larger;
    text-align: center;
    padding: 3%;
    margin: 1%;
}
#main-page-holder{
    border: solid gray 3px;
}
#input-widgets{
    background-color: rgb(228, 248, 195);
    display: flex;
    flex-direction: column;
}
 
#local-buttons button{
    background-color: rgb(129, 185, 235);
    font-size: large;
    color: aliceblue;
    padding: 2px;
    margin: 1em;
    width: 13%;
}
#local-buttons button:hover{
    background-color: rgb(107, 153, 194);
}
#local-buttons{
    display: flex;
    justify-content: center;
    padding: 1%;
}
#local-buttons button:disabled{
    background-color: gray;
}

/* Table styling */
#table-manager{
    background-color: rgb(163, 199, 187);
    display: flex;
    flex-direction: column;
}

#main-table tr~tr:nth-child(odd) {
    background:lightgrey;
}
  
#main-table tr:nth-child(even) {
    background:white;
}
#main-table>thead{
    background-color:rgb(75, 110, 75);
}
#main-table>thead td{
    padding: 2px 5px;
    height: 50px;
    width: max-content;

}  
td.column-button{
    background-color:rgb(75, 110, 75);
    color: black;
}
td.column-button:active{
    background-color:rgb(41, 66, 41);
    color:white;
}

#main-table>tr>td>input{
    max-width: 80%;
}
#main-table td{
    border: 1px solid darkslategray;
}
#main-table{
    width:100%;
    background-color: white;
    border: dotted 1px red;
}

.button-column{
    text-align: center;
    padding: 5px;
}

.edit-button,.delete-button{
    height:30px;
    width:30px;
    opacity: 100%;
}
.save-edits-button:disabled{
    opacity:50%;
}
.edit-button:disabled{
    opacity:50%;
}

.edit-row-box{
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
}

#table-render{
    padding: 8px;
}

#status-bar{
    background-color: white;
    padding: 4px;
}

.error-message{
    background-color: white;
    display: flex;
    align-self: center;
    margin: 1em;
    padding: 8px;
    width: 80%;
    color:darkred;
}

#search-query{
    width:50%;
    display: flex;
    align-self: center;
}

#input-section{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#input-section>legend{
    font-size: x-large;
}
